### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [207]:
# Dependencies and Setup
import pandas as pd
import numpy as np
import pprint as pp
from collections import OrderedDict

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load, encoding="utf-8-sig")

In [208]:
purchase_data.head(1)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53

## Player Count

* Display the total number of players

In [209]:
uniqueUsers = len(purchase_data["SN"].unique())
pp.pprint("Total No of Unique users "+str(uniqueUsers))

'Total No of Unique users 576'

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [210]:
basicCalc = [{"Number of Purchases":purchase_data["Price"].count(),"Average Price":purchase_data["Price"].sum()/purchase_data["Price"].count(),
            "Total Revenue":purchase_data["Price"].sum(),"Number of Unique Items":len(purchase_data["Item ID"].unique())}]
pdDataFrameBasicCalc = pd.DataFrame(basicCalc)

pp.PrettyPrinter(indent=4, width=5)
pp.pprint("output as a dataFrame")
pdDataFrameBasicCalc

'output as a dataFrame'

   Average Price  Number of Purchases  Number of Unique Items  Total Revenue
0       3.050987                  780                     183        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [211]:
usersUnique = purchase_data["SN"].unique()
maleUser = 0
femaleUser = 0
ndUsers = 0
for usr in usersUnique :
    indexOfUser = purchase_data["SN"].index[purchase_data["SN"] == usr][0]
    #pp.pprint(purchase_data["Gender"][indexOfUser].lower())
    if purchase_data["Gender"][indexOfUser].lower().strip() == 'male' :
        maleUser = maleUser + 1
    elif purchase_data["Gender"][indexOfUser].lower().strip() == 'female' :
        femaleUser = femaleUser + 1
    else :
        ndUsers=ndUsers+1

malePercentage = maleUser*100/uniqueUsers 
femalePercentage =femaleUser*100/uniqueUsers
ndPercentage =ndUsers*100/uniqueUsers    

#pp.pprint(malePercentage)
#pp.pprint(femalePercentage)
#pp.pprint(ndPercentage)

genderMapOtherWay = {"Total Count":[maleUser,femaleUser,ndUsers],
                      "Percentage of Players":[malePercentage,femalePercentage,ndPercentage]}
                     


pdDataFramegenderMap = pd.DataFrame(genderMapOtherWay,index=["male","female","Other / Non-Disclosed"])
pdDataFramegenderMap

                       Total Count  Percentage of Players
male                           484              84.027778
female                          81              14.062500
Other / Non-Disclosed           11               1.909722


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [212]:
purchase_data_index_byGender = purchase_data.set_index("Gender")
purchase_data_index_byGender_Male = purchase_data_index_byGender.loc["Male"]
purchase_data_index_byGender_FeMale = purchase_data_index_byGender.loc["Female"]
purchase_data_index_byGender_Nd = purchase_data_index_byGender.loc["Other / Non-Disclosed"]
purchase_data_index_byGender_Male.head()

purchase_count_male = len(purchase_data_index_byGender_Male)
purchase_Total_male = purchase_data_index_byGender_Male["Price"].sum()
purchase_Average_male = purchase_Total_male/purchase_count_male
purchase_Average_male_perPerson = purchase_Total_male/maleUser


purchase_count_female = len(purchase_data_index_byGender_FeMale)
purchase_Total_female = purchase_data_index_byGender_FeMale["Price"].sum()
purchase_Average_female = purchase_Total_female/purchase_count_female
purchase_Average_female_perPerson = purchase_Total_female/femaleUser

purchase_count_nd = len(purchase_data_index_byGender_Nd)
purchase_Total_nd = purchase_data_index_byGender_Nd["Price"].sum()
purchase_Average_nd = purchase_Total_nd/purchase_count_nd
purchase_Average_nd_perPerson = purchase_Total_nd/ndUsers

purchaseByGenderMap = {"Purchase Count":["" ,purchase_count_male,purchase_count_female,purchase_count_nd],
                  "Average Purchase Price":["",purchase_Average_male,purchase_Average_female,purchase_Average_nd],
      "Total Purchase Value":["",purchase_Total_male,purchase_Total_female,purchase_Total_nd],
      "Avg Total Purchase per Person":["",purchase_Average_male_perPerson,purchase_Average_female_perPerson,purchase_Average_nd_perPerson]}

pdDataFramepurchaseByGenderMap = pd.DataFrame(purchaseByGenderMap,index=["Gender","male","female","Other / Non-Disclosed"])
pdDataFramepurchaseByGenderMap

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
male,652,3.01785,1967.64,4.06537
female,113,3.20301,361.94,4.4684
Other / Non-Disclosed,15,3.346,50.19,4.56273

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [213]:
#I need to fix this by selecting unique 
getUserNamesAndAge = pd.DataFrame(purchase_data,columns=['SN','Age'])
#get only the 2 columns that matter
pp.pprint(len(getUserNamesAndAge["SN"]))
#this was meant for logging only
getUserNamesAndAgeUnique = getUserNamesAndAge.drop_duplicates()
#drop repeated stuff
pp.pprint(len(getUserNamesAndAgeUnique["SN"]))
#more logging statement to make sure I didnt mess up
          
#Bucket    
bucketingByAge = pd.cut(getUserNamesAndAgeUnique['Age'],bins=[0,9,14,19,24,29,34,39,200], 
                        include_lowest=True, labels=['<10', '10-14', '15-19',
                                                     '20-24','25-29','30-34',
                                                     '35-39','>40'])
totalSize = len(getUserNamesAndAgeUnique["SN"])
#this is for % calculations
pp.pprint("Total Size")
pp.pprint(totalSize)
#more logging statement
mapDataAgeCount = {"<10": 0, "10-14":0, "15-19":0, "20-24":0,"25-29":0,"30-34":0,"35-39":0,">40":0}
mapDataAgePercentage = {"<10": 0, "10-14":0, "15-19":0, "20-24":0,"25-29":0,"30-34":0,"35-39":0,">40":0}
#maps to store data so that I dont have to write multiple for loops

# again using NXN loop instead of N loop to avoid writing multiple if statements
for stringToSearch in ['<10', '10-14', '15-19','20-24','25-29','30-34','35-39','>40'] :
    for ageData in bucketingByAge:
        if( ageData == stringToSearch):
            mapDataAgeCount[stringToSearch] = mapDataAgeCount[stringToSearch] + 1
    mapDataAgePercentage[stringToSearch] = mapDataAgeCount[stringToSearch]*100/totalSize
#get the data into a map
#use ordered dictionary to preserve order
#this is really cool. I did not know this was linkedmap equalent
dataFrameToRead = pd.DataFrame([OrderedDict(mapDataAgeCount),OrderedDict( mapDataAgePercentage)],index=["Total Count","Percentage of Players"])
#Transpose it to match the format needed
dataFrameToRead.transpose()
#bucketingByAge.loc["20-24"]
#purchase_data.dtypes

780
576
'Total Size'
576

       Total Count  Percentage of Players
<10           17.0               2.951389
10-14         22.0               3.819444
15-19        107.0              18.576389
20-24        258.0              44.791667
25-29         77.0              13.368056
30-34         52.0               9.027778
35-39         31.0               5.381944
>40           12.0               2.083333

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [225]:
getUserAgeandPrice = pd.DataFrame(purchase_data,columns=['Price','Age','SN'])
#Bucket    
bucketingByAgeForPrice = pd.cut(getUserAgeandPrice['Age'],bins=[0,9,14,19,24,29,34,39,200], 
                        include_lowest=True, labels=['<10', '10-14', '15-19',
                                                     '20-24','25-29','30-34',
                                                     '35-39','>40'])

mapDataItemCount = {"<10": 0, "10-14":0, "15-19":0, "20-24":0,"25-29":0,"30-34":0,"35-39":0,">40":0}
mapDataPriceSum = {"<10": 0, "10-14":0, "15-19":0, "20-24":0,"25-29":0,"30-34":0,"35-39":0,">40":0}
mapDataAveragePerUser = {"<10": 0, "10-14":0, "15-19":0, "20-24":0,"25-29":0,"30-34":0,"35-39":0,">40":0}
mapDataAveragePrice = {"<10": 0, "10-14":0, "15-19":0, "20-24":0,"25-29":0,"30-34":0,"35-39":0,">40":0}


for stringToSearch in ['<10', '10-14', '15-19','20-24','25-29','30-34','35-39','>40'] :
    indexLocal = -1 #since we have 2 dataFrames that we are going through, I am keeping track of it using this index
    setOfUsers = set()
    for ageData in bucketingByAgeForPrice:
        indexLocal = indexLocal + 1
        if( ageData == stringToSearch):
            mapDataItemCount[stringToSearch] = mapDataItemCount[stringToSearch] + 1
            mapDataPriceSum[stringToSearch] = mapDataPriceSum[stringToSearch] + getUserAgeandPrice['Price'][indexLocal]
            setOfUsers.add(getUserAgeandPrice['SN'][indexLocal])
            
    mapDataAveragePerUser[stringToSearch] = mapDataPriceSum[stringToSearch]/ len(setOfUsers)     
    mapDataAveragePrice[stringToSearch] =  mapDataPriceSum[stringToSearch] / mapDataItemCount[stringToSearch]
#everything else is similar to the last section. just doubling the amount of hashmaps used
dataFrameToRead = pd.DataFrame([OrderedDict(mapDataItemCount),OrderedDict( mapDataAveragePrice),
                               OrderedDict( mapDataPriceSum),OrderedDict( mapDataAveragePerUser)],
                               index=["Purchase Count","Average Purchase Price",
                                      "Total Purchase Value","Avg Total Purchase per Person"])
    
#Transpose it to match the format needed
dataFrameToRead.transpose()

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
<10,23.0,3.353478,77.13,4.537059
10-14,28.0,2.956429,82.78,3.762727
15-19,136.0,3.035956,412.89,3.858785
20-24,365.0,3.052219,1114.06,4.318062
25-29,101.0,2.900990,293.00,3.805195
30-34,73.0,2.931507,214.00,4.115385
35-39,41.0,3.601707,147.67,4.763548
>40,13.0,2.941538,38.24,3.186667

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [247]:
getUserNameandPrice = pd.DataFrame(purchase_data,columns=['SN','Price'])

mapPurchaseCount={}
mapAveragePurchasePrice={}
mapTotalPurchaseValue={}

indexForRunning = 0
for userName in getUserNameandPrice['SN']:
    mapPurchaseCount[userName] = mapPurchaseCount.get(userName,0)+1
    mapTotalPurchaseValue[userName] = mapTotalPurchaseValue.get(userName,0)+getUserNameandPrice['Price'][indexForRunning]
    indexForRunning=indexForRunning+1

for userName in mapPurchaseCount.keys():  
    mapAveragePurchasePrice[userName] = mapTotalPurchaseValue[userName]/mapPurchaseCount[userName]
    
dataFrameToRead = pd.DataFrame([OrderedDict(mapPurchaseCount),OrderedDict(mapAveragePurchasePrice),
                               OrderedDict(mapTotalPurchaseValue)],index=["Purchase Count","Average Purchase Price","Total Purchase Value"])

#now transpose and print it
dataFrameToRead.transpose().sort_values(by=['Purchase Count'], ascending=False).head(10)

              Purchase Count  Average Purchase Price  Total Purchase Value
Lisosia93                5.0                3.792000                 18.96
Iral74                   4.0                3.405000                 13.62
Idastidru52              4.0                3.862500                 15.45
Lisim78                  3.0                3.340000                 10.02
Aina42                   3.0                3.073333                  9.22
Asur53                   3.0                2.480000                  7.44
Saistyphos30             3.0                3.443333                 10.33
Aelin32                  3.0                2.993333                  8.98
Ilarin91                 3.0                4.233333                 12.70
Raesty92                 3.0                2.910000                  8.73

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [297]:
getUserNameandPrice = pd.DataFrame(purchase_data,columns=['Item ID','Price','Item Name'])
getIdandPrice = pd.DataFrame(purchase_data,columns=['Item ID','Item Name','Price']).sort_values(by=['Item ID'], ascending=False).drop_duplicates()
getUserNameandPriceGroupBy = getUserNameandPrice.groupby(['Item ID']).sum().sort_values(by=['Price'], ascending=False)
#pp.pprint(getUserNameandPriceGroupBy.head())
#pp.pprint(getIdandPrice.head())
mergedDataBetween2Rows =  pd.merge(getUserNameandPriceGroupBy, getIdandPrice, on='Item ID', how='outer')
mergedDataBetween2Rows['Count'] =  mergedDataBetween2Rows['Price_x']/ mergedDataBetween2Rows['Price_y']
mergedDataBetween2Rows.columns = ['Item ID', 'Total Cost','Item Name','Price','Count']
mergedDataBetween2Rows.head()

,Item ID,Total Cost,Item Name,Price,Count
0,178,50.76,"Oathbreaker, Last Hope of the Breaking Storm",4.23,12.0
1,82,44.10,Nirvana,4.90,9.0
2,145,41.22,Fiery Glass Crusader,4.58,9.0
3,92,39.04,Final Critic,4.88,8.0
4,103,34.80,Singed Scalpel,4.35,8.0

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [298]:
#data in the previous result was already sorted
mergedDataBetween2Rows

,Item ID,Total Cost,Item Name,Price,Count
0,178,50.76,"Oathbreaker, Last Hope of the Breaking Storm",4.23,12.0
1,82,44.10,Nirvana,4.90,9.0
2,145,41.22,Fiery Glass Crusader,4.58,9.0
3,92,39.04,Final Critic,4.88,8.0
4,103,34.80,Singed Scalpel,4.35,8.0
5,59,33.84,"Lightning, Etcher of the King",4.23,8.0
6,108,31.77,"Extraction, Quickblade Of Trembling Hands",3.53,9.0
7,78,30.80,"Glimmer, Ender of the Moon",4.40,7.0
8,72,30.16,Winter's Bite,3.77,8.0
9,60,28.32,Wolf,3.54,8.0
10,179,26.88,"Wolf, Promise of the Moonwalker",4.48,6.0
11,160,26.40,Azurewrath,4.40,6.0
12,25,26.10,Hero Cane,4.35,6.0
13,37,25.28,"Shadow Strike, Glory of Ending Hope",3.16,8.0
14,139,24.70,"Mercy, Katana of Dismay",4.94,5.0
15,128,24.55,"Blazeguard, Reach of Eternity",4.91,5.0
16,138,23.70,"Peacekeeper, Wit of Dark Magic",4.74,5.0
17,141,22.33,Persuasion,3.19,7.0
18,87,22.15,"Deluge, Edge of the West",4.43,5.0
19,159,21.56,"Oathbreaker, Spellblade of Trials",3.08,7.0
20,136,21.48,Ghastly Adamantite Protector,3.58,6.0
21,65,21.20,Conqueror Adamantite Mace,4.24,5.0
22,101,20.95,Final Critic,4.19,5.0
23,102,20.64,Avenger,3.44,6.0
24,133,20.45,Faith's Scimitar,4.09,5.0
25,39,19.70,"Betrayal, Whisper of Grieving Widows",3.94,5.0
26,111,19.56,Misery's End,4.89,4.0
27,165,19.44,Bone Crushing Silver Skewer,4.86,4.0
28,75,19.36,Brutality Ivory Warmace,2.42,8.0
29,52,19.36,Hatred,4.84,4.0
...,...,...,...,...,...
153,124,5.16,Venom Claymore,1.29,4.0
154,0,5.12,Splinter,1.28,4.0
155,155,5.05,War-Forged Gold Deflector,1.01,5.0
156,48,4.96,"Rage, Legacy of the Lone Victor",2.48,2.0
157,158,4.90,"Darkheart, Butcher of the Champion",2.45,2.0
158,51,4.66,Endbringer,4.66,1.0
159,134,4.50,Undead Crusader,4.50,1.0
160,30,4.42,Stormcaller,2.21,2.0
161,135,4.20,Warped Diamond Crusader,1.40,3.0
162,91,4.17,Celeste,4.17,1.0
163,177,4.16,"Winterthorn, Defender of Shifting Worlds",2.08,2.0
164,70,4.12,Hope's End,1.03,4.0
165,115,4.08,Spectral Diamond Doomblade,2.04,2.0
166,69,3.96,"Frenzy, Defender of the Harvest",1.98,2.0
167,47,3.58,"Alpha, Reach of Ending Hope",3.58,1.0
168,180,3.36,Stormcaller,3.36,1.0
169,27,3.30,"Riddle, Tribute of Ended Dreams",3.30,1.0
170,183,3.27,Dragon's Greatsword,1.09,3.0
171,31,3.10,Trickster,1.55,2.0
172,168,2.96,"Sun Strike, Jaws of Twisted Visions",1.48,2.0
173,90,2.94,Betrayer,2.94,1.0
174,33,2.32,Curved Axe,1.16,2.0
175,26,2.24,Unholy Wand,1.12,2.0
176,118,2.17,"Ghost Reaver, Longsword of Magic",2.17,1.0
177,28,2.12,"Flux, Destroyer of Due Diligence",1.06,2.0
178,125,2.00,Whistling Mithril Warblade,1.00,2.0
179,126,2.00,Exiled Mithril Longsword,2.00,1.0
180,23,1.99,Crucifer,1.99,1.0
181,104,1.93,Gladiator's Glaive,1.93,1.0
182,42,1.75,The Decapitator,1.75,1.0

## Final Summary

* The items have a long tail of price vs sales
* The user group tends to be more male
* The average sale per item/user dimention is higher in the female user group
* The most profitable age group is 20-24
* On average 35-39 age group is more profitable